@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div data-bind="visible: loading">Loading...</div>
        <div style="display: none" data-bind="visible: true">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="brand" data-bind="if: !loggedIn()">My ASP.NET Application</span>
                        <div data-bind="if: loggedIn">
                            <a href="#" class="brand" data-bind="click: navigateToHome">My ASP.NET Application</a>
                            <div class="nav-collapse collapse">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#" data-bind="click: navigateToHome">Home</a></li>
                                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                                </ul>
                                <div data-bind="with: user">
                                    <ul class="nav nav-pills nav-stacked pull-right">
                                        <li>
                                            <p class="navbar-text">Hello, <a href="#" data-bind="text: name, click: manage"></a>!</p>
                                        </li>
                                        <li><a href="#" data-bind="click: logOff">Log off</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="foreach: errors">
                <p class="text-error" data-bind="text: $data"></p>
            </div>
            @Html.Partial("_Home")
            @Html.Partial("_Login")
            @Html.Partial("_Register")
            @Html.Partial("_RegisterExternal")
            @Html.Partial("_Manage")
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
